@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
    --color-dark-green: #244d3f;
    --color-dark-black: #1f2937;
    --color-light-gray: #64748b;
}
body {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8fafc;
}
